.div{
    padding: 0px;
    margin: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    display: inline-flex;
}
.div ul{
    list-style-type: none;
}
.div li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.div a{
    padding: 25px 30px;


































































































































































































































































































































































































































































































































































































































































































































































































































































































































    d
    margin: 0px;
}